<center><h1>Index</h1></center>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well dashboard-section">
      <center><p>...info...</p></center>
    </div>
  </div>
</div>
