<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="nav navbar-brand">Company Name</p>
    </div>
  </div>
</nav>

<!-- Log in form -->
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well login-form">
      <form class="form-horizontal" action='#' method='post'>
        <fieldset>
          <legend>Welcome!</legend>

          <!-- e-mail -->
          <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="email" placeholder="Email" name="email">
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
          </div>

          <!-- submit -->
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary" name="login">Login</button>
            </div>
          </div>

          <!-- sign up -->
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a href="/signup">Don't have an account? Sign up!</a>
            </div>
          </div>


        </fieldset>
      </form>
    </div><!-- well -->
  </div><!-- col -->
</div><!-- row -->